@import "grid";
@import "~reset-css/reset.css";

body{
  background: #f6f5f4;
}
main{
  max-width: 100%;
  width: 90%;
  margin: 0 auto;
}
html,body,#app{
  height: 100%;
  max-height: 100%;
  overflow: hidden;
}
button{
  padding: 10px;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

h1,h2,h3,h4,h5,h6{
  font-weight: 700;
  margin-bottom: 2vh;
}
h1{
  font-size: 4.4em;
}
h2{
  font-size: 3.6em;
}
h3{
  font-size: 3.2em;
}
h4{
  font-size: 2.8em;
}
h5{
  font-size: 1.8em;
}
h6{
  font-size: 1.4em;
}
p{
  font-size: 1.25em;
  margin-bottom: 1vh;
}
button{
  font-weight: 700;
}